@page "/CreateEvent"
<h3>CreateEvent</h3>
<div>
    <div>
        <label>Title:</label>
        <input type="text" @bind="Title" @bind:event="oninput"/>
        
        <label>Description:</label>
        <input type="text" @bind="Description" @bind:event="oninput"/>
        
        <label>Date:</label>
        <input type="text" @bind="Date" @bind:event="oninput"/>
        
        <label>Time:</label>
        <input type="text" @bind="Time" @bind:event="oninput"/>

        @if (!string.IsNullOrEmpty(ResultMsg))
        {
            <label style="color: @Color">@ResultMsg</label>
        }
        
    </div>
    <div>
        <button @onclick="Create">Create</button>
    </div>
</div>





@code {
    private string Title = "";
    private string Description = "";
    private string Date = "";
    private string Time = "";
    private DateTime DateTime;
    private string ResultMsg = "";
    private string Color = "";

    private async Task Create()
    {
        ResultMsg = "";
        

        try
        {
            await CompanyService.Create(new CompanyCreationDto(Username, Password, Email));
            Username = "";
            Password = "";
            Email = "";
            ResultMsg = "Company created!";
            Color = "green";

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            ResultMsg = e.Message;
            Color = "red";
        }
    }

}