@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@inject IUserService UserService

<link href="css/Login.css" rel="stylesheet"/>

<h3 style="text-align: center">Create Account</h3>

<div class="form">
    <div class="container">
        <label>
            <b>Username</b>
        </label><br/>
        <input type="text" placeholder="Enter Username" @bind="Username" @bind:event="oninput"/><br/>

        <label>
            <b>Password</b>
        </label><br/>
        <input type="password" placeholder="Enter Password" @bind="Password" @bind:event="oninput"/><br/>

        <label>
            <b>Email</b>
        </label><br/>
        <input type="text" placeholder="Enter Email" @bind="Email" @bind:event="oninput"/><br/>
        
        <label>
            <b>Role</b>
        </label><br/>
        <input type="text" placeholder="Enter Role" @bind="Role" @bind:event="oninput"/><br/>
        
        
        <input type="checkbox" @bind="checkbox" @bind:event="oninput"/> <span class="checkboxmsg">Do you agree to sell us your soul and your first born child?</span><br/>
        @if (!string.IsNullOrEmpty(ResultMsg))
        {
            <label style="color: @Color">@ResultMsg</label>
        }

    </div>
    <div class="button-container">
        <button class="confirm"
            disabled="@(string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(Password) || string.IsNullOrEmpty(Email) || !checkbox)"
            @onclick="Create">
            Create
        </button>
    </div>
</div>


@code {
    private string Username = "";
    private string Password = "";
    private string Email = "";
    private string Role = "";
    private string ResultMsg = "";
    private string Color = "";
    private bool checkbox = false;
    

    private async Task Create()
    {
        ResultMsg = "";

        try
        {
            await UserService.Create(new UserCreationDto(Username, Password, Email, Role));
            Username = "";
            Password = "";
            Email = "";
            ResultMsg = "User created!";
            Color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            ResultMsg = e.Message;
            Color = "red";
        }
    }

}