.smallinput {
    width: 50px;
    padding: 5px;
}

.card {
    border: 5px solid #c4dea4;
    background-color: #f6f6db;
    margin: 20px;
    padding: 20px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.full-width {
    width: 100%;
}

.button-container
{
    text-align: center;
    width: 100%;
}

button {
    background-color: #0c2204;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
button:hover {
    opacity: 0.8;
}


button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #6D9775;
    opacity: 1;

}