@page "/"



<link href="Home.razor.css" rel="stylesheet"/>
<div class="container-pages">
    <div class="frontpage-infobox">
        <img class="frontpage-logo" src="img/3vENT_4U.png" alt="Logo"/>
        
        <h3 style="text-align: center; font-size: xxx-large; font-family: Impact; color: whitesmoke ">Velkommen til 3vent 4U!</h3>
        <h4 style="text-align: center; font-size: x-large; font-family: Brush Script MT;  color: whitesmoke" >     - dit samlingspunkt</h4>
        
    </div>

</div>

@code
{
}