@page "/Info"
<h3 style="text-align: center">Om os</h3>

<p class="card" style="border: 5px solid #c4dea4; padding: 5px; height: 500px; background-color: #f6f6db">
    3vent4u bestræber sig på at komme ensomhed til livs!<br>
    Dette gør vi ved at udbyde et samlingspunkt hvor virksomheder og private kan oprette begivenheder,<br>
    man som person kan tilmelde sig, og på denne måde komme ud og få nogle oplevelser og nye bekendtskaber!
</p>


@code {
    
}