.card {
    border: 5px solid #c4dea4;
    background-color: #f6f6db;
}

#Description {
    height: 100px;
    width: 100%;
}

.boxes {
    width: 100%;
    border: 2px solid #c4dea4;
    padding: 5px
}

