@inherits LayoutComponentBase

<body class="background1">
<NavMenu />

<div class="container">
    @Body
</div>
</body>

<footer class="footer text-muted fixed-bottom" style="height: 5%">
    <div class="container" style="padding: 2px">
        &copy; 3vent4U
    </div>
</footer>