@*@inherits LayoutComponentBase
@using Login

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <!--
        <div class="top-row px-4">
            <LoginButtons/>
        </div>
        
    -->

        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>*@

@inherits LayoutComponentBase

<body class="background1">
<NavMenu />

<div class="container">
    @Body
</div>
</body>

<footer class="footer text-muted fixed-bottom" style="height: 5%">
    <div class="container" style="padding: 2px">
        &copy; 3vent4U
    </div>
</footer>