@using HttpClients.ClientInterfaces
@using System.Runtime.InteropServices
@namespace Login
@inject NavigationManager navMgr
@inject IAuthService authService

<AuthorizeView>
    <Authorized>
        <button class="button-24" @onclick="Logout">Log Out</button>
    </Authorized>
    <NotAuthorized>
        <button class="button-24" @onclick="Login">Log in</button>
        <button class="button-24" @onclick="SignUp">Sign Up</button>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private void SignUp()
    {
        navMgr.NavigateTo("/CreateUser");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

}